* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

#textDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  outline: solid;
  outline-offset: 2px;
  background-color: black;
  text-align: center;
  height: 40px;
  width: 200px;
  color: white;
}

#calcInput {
  font-size: 4rem;
  width: 325px;
  height: 85px;
}

table {
  margin-top: 1rem;
}

td {
  padding: 0.15rem;
  width: 50px;
  height: 50px;
}

button {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

button:active {
  background-color: black;
  width: 51px;
  height: 51px;
  color: white;
}

#calcWrapper {
  margin-top: 5rem;
  width: 400px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 100, 123);
  border-style: solid;
  border-radius: 12px;
  outline: solid;
  outline-width: 10px;
  outline-offset: -5px;
  outline-color: black;
}

#extraControls button {
  margin-right: 0.5rem;
}

#delete {
  margin-top: 0.5rem;
  width: 120px;
}

#submit {
  margin-top: 0.5rem;
  width: 120px;
}

input {
  text-align: center;
}
